# 股票时间序列数据处理

In [5]:
# 要求针对该数据文件进行时间序列分析，并按照季度进行数据采样
# 所有价格有关的数据均取均值，成交量则取总和
# 最终，将 DataFrame 按照成交量降序排列并返回
import pandas as pd


def quarter_volume():
    df = pd.read_csv("GOOGL.csv", index_col=0)
    df.index = pd.to_datetime(df.index)
    df = df.resample('Q').agg({"Open": 'mean', "High": 'mean', "Low": 'mean',
                               "Close": 'mean', "Adj Close": 'mean', "Volume": 'sum'})
    df = df.sort_values(by='Volume', ascending=False)
    return df

df=quarter_volume()
df

/tmp/ipykernel_617602/1567358615.py:10: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  df = df.resample('Q').agg({"Open": 'mean', "High": 'mean', "Low": 'mean',

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2006-03-31,195.894927,198.766912,192.014031,195.342278,195.342278,1804848300
2005-06-30,121.146146,122.896256,119.766172,121.554523,121.554523,1737181000
2005-03-31,95.061947,96.312952,93.460346,94.747699,94.747699,1404038900
2005-12-31,190.464512,192.353543,188.029855,190.283220,190.283220,1205611000
2005-09-30,148.090590,149.723786,146.642266,148.214620,148.214620,1035109100
2006-06-30,198.767022,201.024517,195.921478,198.328011,198.328011,1006259000
2008-03-31,261.312953,265.466613,255.875219,260.347317,260.347317,960216300
2008-12-31,161.990584,166.782016,156.635698,161.522068,161.522068,939728200
2007-12-31,334.470251,338.446728,329.240805,334.128036,334.128036,823653100
2006-12-31,233.356134,235.595436,231.149641,233.248963,233.248963,736496600
2007-03-31,235.389734,237.606131,232.903066,235.094192,235.094192,712518900
2006-09-30,196.440806,198.137106,194.192605,196.108570,196.108570,711375600
2008-06-30,272.035708,275.528887,268.153232,271.549752,271.549752,682238300
2009-03-31,165.781600,169.294868,162.647811,166.133264,166.133264,670210600
2007-06-30,243.560783,245.710551,241.727283,243.669384,243.669384,642530900
2008-09-30,239.450311,243.169966,234.875501,238.513435,238.513435,613340800
2007-09-30,263.196609,265.527114,261.121201,263.567455,263.567455,548938100
2011-09-30,275.715245,279.257772,272.099991,275.547970,275.547970,492425700
2010-03-31,279.739083,282.247987,276.809020,279.460443,279.460443,449365800
2009-06-30,200.205841,202.672593,198.000144,200.636986,200.636986,430224700
2010-06-30,257.667111,260.146018,253.961819,256.632425,256.632425,428538600
2011-12-31,297.016378,300.023673,294.504740,297.553109,297.553109,384738500
2010-09-30,241.017893,243.484733,238.882868,241.353932,241.353932,363365200
2010-12-31,295.635869,297.474192,293.324652,295.226320,295.226320,359786800
2011-06-30,264.840473,266.516358,262.495272,264.324562,264.324562,349037000
2009-09-30,227.370026,229.447886,225.485406,227.655781,227.655781,345322300
2012-03-31,308.563159,310.769641,305.994623,308.580355,308.580355,336335100
2012-06-30,299.952730,302.519661,296.801723,299.428636,299.428636,327779300
2011-03-31,302.333300,304.483838,299.682825,302.082971,302.082971,323658000
2009-12-31,282.630051,284.662787,280.803774,282.999327,282.999327,321077400
2012-12-31,351.016903,353.757789,347.091042,350.233457,350.233457,320023500
2012-09-30,327.591321,331.051447,325.543958,328.921143,328.921143,316734700
2013-06-30,424.663492,428.198512,421.250080,425.050909,425.050909,302793900
2013-03-31,389.324073,392.331830,386.926344,389.644227,389.644227,282303500
2014-03-31,586.777350,590.087713,580.907387,585.081555,585.081555,277147900
2013-09-30,444.392595,446.835508,441.399212,444.100899,444.100899,235473300
2013-12-31,507.321228,511.369494,504.333393,508.152214,508.152214,230414600
2015-09-30,644.527187,651.529530,636.782502,643.884216,643.884216,167119900
2016-03-31,737.272462,745.072133,727.587541,736.288523,736.288523,162224800
2014-06-30,552.681386,557.170035,545.974639,552.274304,552.274304,152010200
2014-12-31,547.420157,551.588278,542.016561,546.313908,546.313908,139686400
2015-03-31,541.537213,546.473608,536.552950,541.776556,541.776556,136223100
2015-12-31,739.572033,746.378597,732.330939,740.154374,740.154374,131439100
2016-06-30,734.562967,739.614059,728.390781,734.012033,734.012033,122536500
2016-12-31,801.189842,806.646983,793.976506,799.666824,799.666824,118028100
2015-06-30,549.764601,553.551906,545.467934,549.368095,549.368095,111252800
2017-06-30,935.238729,941.148253,928.684763,935.503019,935.503019,108110100
2017-09-30,948.157938,954.277299,941.745870,948.566034,948.566034,104378900
2014-09-30,589.540628,593.085623,585.090780,589.367034,589.367034,103087100
2017-03-31,840.688549,844.655807,835.656131,840.975809,840.975809,97803300
2017-12-31,1032.165557,1039.191746,1025.235079,1032.479208,1032.479208,95480300
2016-09-30,780.932186,785.743126,777.097345,782.192970,782.192970,93012800