# 使用交叉验证快速选择模型

In [1]:
# 加载数据集
import pandas as pd

### 代码开始 ### (≈ 2 行代码)
df = pd.read_csv("challenge-6-abalone.csv")
df.head()
### 代码结束 ###

   M  0.455  0.365  0.095   0.514  0.2245   0.101   0.15  15
0  M   0.35  0.265   0.09  0.2255  0.0995  0.0485   0.07   7
1  F   0.53   0.42  0.135   0.677  0.2565  0.1415   0.21   9
2  M   0.44  0.365  0.125   0.516  0.2155   0.114  0.155  10
3  I   0.33  0.255   0.08   0.205  0.0895  0.0395  0.055   7
4  I  0.425    0.3  0.095  0.3515   0.141  0.0775   0.12   8

In [2]:
# 数据集存在错误，进行修改
# 查看最后几行的数据
df.tail()

,M,0.455,0.365,0.095,0.514,0.2245,0.101,0.15,15
4172,M,0.59,0.44,0.135,0.966,0.439,0.2145,0.2605,10
4173,M,0.6,0.475,0.205,1.176,0.5255,0.2875,0.308,9
4174,F,0.625,0.485,0.15,1.0945,0.531,0.261,0.296,10
4175,M,0.71,0.555,0.195,1.9485,0.9455,0.3765,0.495,12
4176,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings

In [3]:
# 修正数据集
# 获取最后一行的值作为新的列名
columns_name = df.iloc[-1].values  # 简化索引方式

# 获取当前列名（即要转换为第一行的数据）
new_line = df.columns.values

# 删除最后一行（原来的列名行）
df = df.iloc[:-1]  # 更清晰的切片方式

# 设置新的列名
df.columns = columns_name

# 使用 concat 替代已弃用的 append
df = pd.concat([
    pd.DataFrame([new_line], columns=columns_name), 
    df
], ignore_index=True)
pd.concat([df.head(2), df.tail(2)])

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,M,0.455,0.365,0.095,0.514,0.2245,0.101,0.15,15
1,M,0.35,0.265,0.09,0.2255,0.0995,0.0485,0.07,7
4175,F,0.625,0.485,0.15,1.0945,0.531,0.261,0.296,10
4176,M,0.71,0.555,0.195,1.9485,0.9455,0.3765,0.495,12

In [4]:
# Exercise 23.1
# 将数据集目标值（Rings）按照区间替换为 3 种类别，并按照上文要求替换 Sex 列
df['Rings'] = pd.to_numeric(df['Rings'])
df['Rings'] = pd.cut(df.Rings, bins=[0, 10, 20, 30], labels=['small','middle','large'])
df['Sex'] = df.Sex.replace({'M':0, 'F':1, 'I':2})

print(df.iloc[[3, 6, 12, 83]]["Rings"].values)
df.head()

['small', 'middle', 'middle', 'large']
Categories (3, object): ['small' < 'middle' < 'large']

/tmp/ipykernel_454044/2188842038.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Sex'] = df.Sex.replace({'M':0, 'F':1, 'I':2})

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
0,0,0.455,0.365,0.095,0.514,0.2245,0.101,0.15,middle
1,0,0.35,0.265,0.09,0.2255,0.0995,0.0485,0.07,small
2,1,0.53,0.42,0.135,0.677,0.2565,0.1415,0.21,small
3,0,0.44,0.365,0.125,0.516,0.2155,0.114,0.155,small
4,2,0.33,0.255,0.08,0.205,0.0895,0.0395,0.055,small

In [ ]:
#